<div class="vc-heavy-task-manager flex flex-col overflow-hidden">
    <div class="flex justify-between items-center border-b border-primary-400 p-2 text-white">
        <h1>Background jobs viewer</h1>
        <div class="pr-2 text-green-500 font-bold">
            <i class="fas fa-circle blink"></i> Listening
        </div>
    </div>
    <ul class="flex text-center">
        <li class="w-1/2 py-2 border-primary-500" :class="activeTab === 'active' ? 'bg-primary-600 font-bold text-gray-300' : 'border-b bg-primary-700 text-gray-400 cursor-pointer'" @click="activeTab = 'active'">Active</li>
        <li class="w-1/2 py-2 border-primary-500" :class="activeTab === 'history' ? 'bg-primary-600 font-bold text-gray-300' : 'border-b bg-primary-700 text-gray-400 cursor-pointer'" @click="activeTab = 'history'">History</li>
    </ul>
    <div ref="scrollContainer" class="relative flex-1 text-gray-300" v-perfect-scrollbar>
        <div v-if="!ready" class="text-center pt-3"><i class="fas fa-cog fa-spin"></i> Loading...</div>
        <template v-else>
            <div v-if="activeTab === 'active'">
                <template v-if="activeTasks.length > 0">
                    <task v-for="task in activeTasks" :state="task"></task>
                </template>
                <div class="text-center pt-3" v-else>
                    No background job currently running.<br />
                    The list will update automatically when a job is created.
                </div>
            </div>
            <div v-else>
                <template v-if="historyTasks.length > 0">
                    <task v-for="task in historyTasks" :state="task"></task>
                </template>
                <div class="text-center pt-3" v-else>
                    No background job has been archived yet.
                </div>
            </div>
        </template>
    </div>
</div>
